body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url('../image/blackmamba.png');
	font-size: 15px;
}
.col-left
{
	top: 50px;
}
.logo
{
	margin: 0;
	background-color:  rgba( 51, 51, 255, 0.3);
	height: 70px;
}
#content
{
	margin-top: 5px;
}
#footer
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-bottom: 20px;
}
#logo-image
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
.block-arry
{
	border-top-left-radius: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #CC9966;
	max-height: 40px;
}
.block-star
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CC9966;
	max-height: 40px;
}
.block-autor
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	background-color: #CC9966;
	border-top-right-radius: 7px;
	max-height: 40px;
}
.block-footer
{
	border-top: 2px solid #FFFF99;
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: #ffcb88;
	margin-bottom: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	min-height: 70px;
}
a, a:hover, a:visited
{
	color: #000011;
	text-decoration: none;
}
a:hover, a:active
{
	
	color: #000066;
	text-decoration: none;
	font-weight: bold;
}
#nav
{
	margin-top: 20px;
	background-color:  #99CC99;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.visuallyhidden { 
		border: 0; 
		clip: rect(0 0 0 0); 
		height: 1px; 
		margin: -1px; 
		overflow: hidden; 
		padding: 0; 
		position: absolute; 
		width: 1px; 
}
@media (max-width: 767px) 
{
	.col-left 
	{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 100px;
		right: 0;
		bottom: 0;
		left: -100%;
		z-index: 1;
		transition: 0.2s;
	}
	.nav-switch 
	{
		width: 0;
		height: 0;
	}
	.nav-switch:before 
	{
		display: block;
		content: 'F';
		position: fixed;
		top: 70px;
		left: 15px;
		text-align: center;
		z-index: 2;
		font-size: 2em;
		background: #eee;
		color: #aaa;
		border-radius: 2px;
		line-height: 1.1em;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.nav-switch:checked + .col-left 
	{
		left: 0;
		transition: 0.2s;
	}
	.block-arry
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-color: #CC9966;
	max-height: 40px;
}
.block-star
{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #CC9966;
	max-height: 40px;
}
.block-autor
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-color: #CC9966;
	border-top-right-radius: 0px;
	max-height: 40px;
}
}
